<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% for (let i=0; i<newListItems.length; i++) { %>


  <form action="/delete" method="post">
      <div class="item">
        <input type="hidden" name="listName" placeholder="New Item" value=<%= listTitle %> >
        <input type="checkbox" onChange="this.form.submit()" name=itemCheckbox value=<%=  newListItems[i]._id  %>>
        <p><%=  newListItems[i].ItemName  %></p>
      </div>
</form>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <input type="hidden" name="listTitle" placeholder="New Item" value=<%= listTitle %> >
        <button type="submit" name="list">+</button>
      </form>
  </div>


<%- include("footer") -%>
